@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(99, 182, 201);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label {
  width: 6%;
  margin-bottom: 15px;
}

form input {
  font-size: 24px;
  height: 20px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}



button {
  background: var(--primary-color);
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 2px 20px 2px 20px;
  text-decoration: none;
  width: 100%;
}

button:hover {
  background: var(--primary-color-darker);
  box-shadow: none;
  text-decoration: none;
}

.correto{
  background-color: rgb(107, 255, 119);
}

.incorreto{
  background-color: rgb(255, 89, 89);
}